.button {
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
}

.microphoneIcon {
    color: white;
    width: 100%;
    height: 100%;
}

.microphoneIcon.active {
    color: #42ADFF;
}