.main {
    display: flex;
    gap: 2rem;
    height: auto;
    flex: 1;
}

.information-div {
    display: flex;
    gap: 1rem;
}

.arrowBackIcon {
    margin-bottom: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.description {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.description, .description>* {
    font-size: var(--medium-font);
    font-weight: 300;
    text-align: justify;
}

.paragraph {
    text-indent: 2.5rem;
}

.information-section {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 3rem;
    flex-direction: column;
}

.content-section {
    width: 100%;
}