/* Default style for cards */
.card {
  background-color: transparent; 
  border: 1px solid #888; 
  padding: 20px;
  border-radius: 15px;
  width: 18%; 
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease; 
  margin: 5px; 
  box-sizing: border-box;
}

/* Hover effect */
.card:hover {
  border-color: #42ADFF; 
}

/* Icon style */
.cardIcon {
  color: #42ADFF; 
  font-size: 1.5rem; 
  margin-bottom: 5px;
}

/* Text inside the card */
.cardText {
  color: #CED4DA;
  line-height: 1.5;
}


/* Responsiveness for cards */
@media (max-width: 1024px) {
  .card {
    width: 30%; 
  }
}

@media (max-width: 768px) {
  .card {
    width: 45%; 
  }
}

@media (max-width: 576px) {
  .card {
    width: 90%; 
  }
}